body {
background-color: hsl(212, 45%, 89%);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
}

.general-container{
    
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
}

.qr-container{
    border-radius: 10px;
    display: flex;
    height: 250px;
    width: 250px;
    background-color: blue;
    margin: 2px 2px;
}

.qr-image{
    height: 100px;
    width: 100px;
}

h1{
    font-size: 15px;
    font-weight: 700;
}
h2{
    font-size: 15px;
    font-weight: 400;
}

.attribution {
    

}