body {
background-color: hsl(212, 45%, 89%);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
}

.general-container{
    
    border-radius: 10px;
    height: 480px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
}



.qr-image{
    height: 290px;
    width: 280px;
    border-radius: 10px;
    margin-top: 40px;
}

h1{
    font-size: 18px;
    font-weight: 700;
    width: 85%;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    margin-top: 30px;
}
h2{
    font-size: 14px;
    font-weight: 400;
    width: 85%;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 50px;
}

.attribution {
    font-family: 'Outfit', sans-serif;
    margin-top: 100px;

}